* {
    /* So 100% means 100% */
    box-sizing: border-box;
}
html,
body {
    /* Make the body to be as tall as browser window */
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

header a:hover {
    color: white;
}

nav a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

header.menu {
    background-image: linear-gradient(to right, #a25b5b, #692e4c);
}

header h1 {
    margin-top: 0;
    font-size: 1.6em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 50px;
}

.header-top a {
    color: white;
}

nav {
    display: flex;
    justify-content: center;
}

nav > a {
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    padding: 30px;
}

.flex,
.row {
    display: flex;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    flex: 1;
    padding: 10px;
}

.box {
    background: #e3e3e3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    border-radius: 10px;
}

.card-aside {
    background: linear-gradient(to bottom, #21c8f6, #637bff);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.card-skill {
    background: rgba(0, 0, 0, 0.4);
    color: inherit;
    border: none;
    border-radius: 9999px;
    font-size: 0.7em;
    padding: 3px 25px;
}

.card-difficulty {
    font-size: 0.8em;
}

.card-aside,
.card-primary {
    padding: 20px;
}

.card-primary {
    color: #888;
    display: flex;
    flex-direction: column;
}

.card-title {
    color: #222;
    font-size: 1.7em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.card-excerpt {
    flex: 1;
}

.card-meta {
    font-size: 0.8em;
    display: flex;
}

.card-meta > div {
    display: flex;
    align-items: center;
}

.card-meta > div > svg {
    margin-right: 5px;
}

.card-meta > div:first-child {
    margin-right: 2em;
}
